<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>person-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>{{person.name}}</h3>

</ion-content>
