<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Persons List</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-list>

    <ion-item-sliding *ngFor="let person of persons; let i = index">

      <ion-item-options side="start">
        <ion-item-option (click)="delete(i)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item (click)="details(person)" button>
        <ion-label>{{ person.name }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
